include AUTHORS
include CHANGELOG
include LICENSE
include README.rst
recursive-include tinylinks/templates *
recursive-include tinylinks/tests/test_app/templates *
recursive-include tinylinks/tests/test_app/fixtures *
