# Install these requirements if you wish to contribute to this project.

# ===========================================================================
# Packages essential to this app. Needed by anyone who wants to use this app.
# ===========================================================================
django==1.4
South


# ==============================================================
# Packages needed for running the tests. Needed by contributors.
# ==============================================================
factory-boy
django-libs==0.4
django-nose
coverage
django-coverage
django-jasmine
selenium
