{% extends "base.html" %}
{% load i18n libs_tags %}
{% load url from future %}

{% block main %}
<h1>{% trans "Your Tinylinks" %}</h1>
{% if object_list %}
    <table>
        <thead>
            <tr>
                <td>{{ object_list.0|get_verbose:"user" }}</td>
                <td>{{ object_list.0|get_verbose:"long_url" }}</td>
                <td>{{ object_list.0|get_verbose:"short_url" }}</td>
                <td>{{ object_list.0|get_verbose:"is_broken" }}</td>
                <td>{{ object_list.0|get_verbose:"last_checked" }}</td>
                <td>{% trans "Actions" %}</td>
            </tr>
        </thead>
        <tbody>
            {% for link in object_list %}
                <tr>
                    <td>{{ link.user }}</td>
                    <td>{{ link.long_url }}</td>
                    <td><a href="{% url "tinylink_create_prefilled" link_id=link.id %}">{{ link.short_url }}</a></td>
                    <td>{% if link.is_broken %}{% trans "Invalid" %}{% else %}{% trans "Valid" %}{% endif %}</td>
                    <td>{{ link.last_checked }}</td>
                    <td><a href="{% url "tinylink_delete" pk=link.id %}">{% trans "Delete" %}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
<p>{% trans "No tinylinks added yet." %}</p>
{% endif %}
<a href="{% url "tinylink_create" %}">{% trans "Create your Tinylink" %}</a>
{% endblock %}